<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productList; track $index) {
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.createdAt | date}}</td>
        <td>{{product.updatedAt | date}}</td>
        <td>
          <p class="text-white text-center" [ngClass]="{
              'bg-info': product.status == 'active',
              'bg-warning': product.status == 'disabled'
              }">{{product.status}}</p>
        </td>
        <td>
          <button type="button" (click)="showDetailModal(product, detailModal)" class="btn btn-secondary">
            <i class="fa-solid fa-eye white"></i>
          </button>
          <button type="button" (click)="deleteProduct(product)" class="btn btn-danger">
            <i class="fa-solid fa-trash white"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal #detailModal>
  <app-product-form (callParentEvent)="onFormEventCalled($event)" [title]="'Update Product'"
    [toUpdateProduct]="selectedProduct" />
</app-modal>